.form-crud {
  border-radius: 10px;

  .title {
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
  }

  label {
    font-size: 15px;
    margin-right: 20px;
  }

  .ant-space-item:nth-child(2) {
    width: 100%;
  }

  .ant-form-item-control-input::before {
    content: ":";
    margin-right: 30px;
    font-size: 15px;
    font-weight: bolder;
    align-self: flex-start;
    margin-top: 8px;
  }

  .ant-form-item:last-child .ant-form-item-control-input::before {
    content: "";
    margin-right: 0;
  }
}