.custom-component-table-card {

  table {

    td {
      vertical-align: middle;
    }

    .expanded-row {
      margin: 15px 0 15px 10px;

      p {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 13px;
      }

      ol {
        list-style-type: number;
        margin-left: 30px;
        font-size: 13px;
      }
    }

    .icons-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      a {
        border: 2px rgba(0, 0, 0, 0.2) solid;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        color: black;
        transition: 0.3s;

        &:hover {
          border: 1.5px red solid;
          color: red;
        }
      }

      .trash {
        border: 1.5px red solid;
      }
    }

    .select-role {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(57, 57, 255);
      border-radius: 5px;
      padding: 3px;
      cursor: pointer;

      p {
        width: 110px;
        padding: 5px 7px;
        border-right: 1.5px white solid;
        color: white;
        font-weight: 400;
      }

      svg {
        padding: 0 3px;
        margin: 0 3px;
        color: white;
        font-weight: bold;
      }
    }
  }
}